{% extends 'base.html' %}
{% block title %}设备状态概览{% endblock %}
{% block content %}
<header class="page-heading">
    <div class="page-heading__copy">
        <p class="page-heading__eyebrow">工作台</p>
        <h1 class="page-heading__title">设备状态概览</h1>
        <p class="page-heading__description">全部资产、最新执行记录与异常统一总览</p>
    </div>
    <div class="page-heading__actions">
        <a class="btn btn-primary" href="{% url 'task_list' %}">后台任务</a>
    </div>
</header>
<div class="row g-4">
    {% for item in items %}
    <div class="col-12 col-md-6 col-xl-4">
        {% include 'components/dashboard_card.html' with item=item %}
    </div>
    {% endfor %}
</div>

<div class="mt-4">
    {% include 'components/inspection_taskbar.html' %}
</div>
{% endblock %}
