Django==6.1.1
djangorestframework==3.18.0
ldap3==2.9.1
pycryptodome==3.23.0
cryptography==50.0.1
mysqlclient==2.2.8
redis==8.1.0
python-dotenv==1.2.3
keyring==25.7.0
requests==2.34.2
aiohttp==3.14.3
dnspython==2.8.0
paramiko==4.0.0
netmiko==4.7.0
pysnmp==7.1.29
smbprotocol==1.17.0
waitress==3.0.2
whitenoise==6.12.0
